/* Default Setup */

body {
  background-color: #2d2a2a;
  margin: 0;
  padding: 0;

  color: rgb(255, 255, 255);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* General */

.content {
margin: 20px 50px 100px 50px;
}

.title {
  text-align: center;
}

.highlight-text {
    color: chocolate;
    font-weight: 600;
}

/* Navigation */

.navigation {
  background-color: #000;
  padding: 20px 50px 20px 50px;
}

.navigation .navigation_link {
  margin-right: 50px;
}

.navigation_link {
  transition: color 0.2s linear;
  font-size: 18px;
}

.navigation_link:hover {
  color: rgb(255, 193, 46);
}

.navigation_link-active {
  color: rgb(255, 193, 46);
}

/* Home */

.home_list {
}

.home_list li {
  margin-bottom: 20px;
  font-size: 18px;
}

/* University */

.university_text {
  font-size: 18px;
}

.university_list {
  font-size: 18px;
}

.university_list li {
  margin-bottom: 10px;
}

/* Resume */

.resume {
}

.resume_info {
  text-align: center;
}

.resume_info-text {
  margin: 0px 0px 10px 0px;
}

.resume_info-link {
  transition: color 0.2s linear;
  font-size: 18px;
}

.resume_info-link:hover {
  color: rgb(255, 193, 46);
}

.resume_section {
}

.resume_section-title {
    font-size: 24px;
    margin: 60px 0px 10px 0px;
}

.resume_section-item {
  display: flex;
  justify-content: space-between;
}

.resume_section-list {
    margin: 15px 0px 0px 0px;
}

.resume_section-list li {
    margin: 0px 0px 15px 0px;
}

.resume_item-title {
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 17px;
}

.resume_item-text {
    margin-top: 5px;
}