/* Default Setup */

body {
    background-color: #2d2a2a;
    margin: 0;
    padding: 0;

    color: rgb(255, 255, 255); 
}

a {
    text-decoration: none;
    color: inherit;
}

/* General */

.content{
    padding: 20px 50px 20px 50px;  
}

.title {
    text-align: center;
}


/* Navigation */

.navigation {
    background-color: #000;
    padding: 20px 50px 20px 50px;    
}

.navigation .navigation_link {
    margin-right: 50px;
}

.navigation_link {
    transition: color 0.2s linear;
    font-size: 18px;
}

.navigation_link:hover {
    color: rgb(255, 193, 46);
}

.navigation_link-active {
    color: rgb(255, 193, 46);
}


/* Home */

.home_list {
    
}

/* University */

.university_text {

}

.university_list {

}

.university_list li {
    
}

/* Resume */

.resume {
    display: flex;
    justify-content: space-between;
}



